.cart-btn {
    text-transform: capitalize;
    font-size: 1.4rem;
    background: transparent;
    border: 0.05rem solid var(--green);
    color: var(--green);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
}

.cart-btn:hover {
    background: var(--green);
    color: var(--darkGreen);
}

.btp-btn {
    text-transform: capitalize;
    font-size: 1.4rem;
    background: transparent;
    border: 0.05rem solid var(--mainYellow);
    color: var(--mainYellow);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
}

.btp-btn:hover {
    background: var(--mainYellow);
    color: var(--lightYellow);
}

button:focus {
    outline: none;
}